<ion-header [translucent]="true">
  <app-header [title]="'Privacy Policy'"></app-header>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="legal-content">
    <h2>Privacy Policy</h2>

    <h3>1. Introduction</h3>

    <h4>Purpose of the Policy</h4>
    <p>
      This Privacy Policy outlines the practices of ASCENDynamics NFP
      Collaborative Nonprofit Network ("ASCENDynamics," "we," "us," or "our")
      regarding the collection, use, and disclosure of personal information we
      receive from users of our platform. This policy is designed to inform you
      about how we handle your personal data and to ensure transparency in our
      operations. Understanding this policy will help you make informed
      decisions about sharing your personal information with us.
    </p>

    <h4>Commitment to Privacy</h4>
    <p>
      At ASCENDynamics, we are deeply committed to respecting and protecting
      your privacy. We understand the importance of personal information
      entrusted to us and are dedicated to handling it responsibly and
      safeguarding it with appropriate measures. Our commitment extends to
      ensuring that we comply with privacy laws and regulations applicable to
      our operations and services.
    </p>

    <h3>2. Information Collection</h3>

    <h4>Types of Information Collected</h4>
    <p>
      We collect various types of personal information to provide and improve
      our services. This may include, but is not limited to:
    </p>
    <ul>
      <li>
        Personal Identification Information: Such as your name, email address,
        postal address, phone number, and other similar contact data.
      </li>
      <li>
        Account Information: Information required to create and maintain your
        user account, including username, password, and other identifiers.
      </li>
      <li>
        Demographic Information: Information such as age, gender, interests, and
        preferences.
      </li>
      <li>
        Usage Data: Information on how you interact with our platform, including
        access times, pages viewed, and the routes by which you access our
        services.
      </li>
      <li>
        Communication Data: Information contained in or relating to any
        communication that you send to us or through our platform.
      </li>
    </ul>

    <h4>Methods of Collection</h4>
    <p>
      The collection of personal information occurs through various means,
      including:
    </p>
    <ul>
      <li>
        Account Registration: When you create an account on our platform, we
        collect the information you provide in the registration form.
      </li>
      <li>
        Cookies and Tracking Technologies: We use cookies and similar tracking
        technologies to track activity on our platform and hold certain
        information, enhancing your experience with our services.
      </li>
      <li>
        User-Generated Content: Information that you voluntarily provide when
        you use certain features of our platform, such as posting in forums,
        participating in surveys, or making donations.
      </li>
      <li>
        Direct Communications: Information that you provide when you communicate
        directly with us via emails, phone calls, or other messaging services.
      </li>
    </ul>

    <h3>3. Use of Information</h3>

    <h4>Purpose of Collection</h4>
    <p>
      The information collected from our users is essential for the effective
      operation and enhancement of the ASCENDynamics platform. We use this
      information for various purposes, including:
    </p>
    <ul>
      <li>
        <strong>Service Provision:</strong> To create and manage user accounts,
        provide and personalize our services, and process transactions.
      </li>
      <li>
        <strong>Communication:</strong> To communicate with users regarding
        service updates, support, and administrative messages.
      </li>
      <li>
        <strong>Improvement of Services:</strong> To understand and analyze the
        usage trends and preferences of our users, which helps us improve our
        platform's functionality and develop new features and services.
      </li>
      <li>
        <strong>Security:</strong> To enhance the security of our platform,
        prevent fraud, and ensure the integrity of our services.
      </li>
      <li>
        <strong>Legal Obligations:</strong> To comply with legal requirements
        and assist law enforcement agencies as required by law.
      </li>
    </ul>

    <h4>Data Analysis</h4>
    <p>
      <strong>Statistical Evaluation:</strong> We may perform statistical,
      demographic, and marketing analyses of users of the platform, and their
      purchasing patterns, for product development purposes and to generally
      inform advertisers about the nature of our user base.
    </p>
    <p>
      <strong>Anonymized Data:</strong> We use anonymized and aggregated data
      for these analyses, which do not identify individual users, to improve our
      services and for business and marketing purposes.
    </p>

    <h3>4. Cookies and Tracking Technologies</h3>

    <h4>Use of Cookies</h4>
    <p>
      <strong>Functionality:</strong> Cookies are small data files stored on
      your device that help us improve our platform and your experience, see
      which areas and features of our platform are popular, and count visits.
    </p>
    <p>
      <strong>Personalization:</strong> Cookies are also used to store your
      preferences and settings, provide personalized content and ads, and
      analyze how our platform is performing.
    </p>

    <h4>Control of Cookies</h4>
    <p>
      <strong>Browser Settings:</strong> You can control and/or delete cookies
      as you wish – for details, see
      <a href="https://www.aboutcookies.org" target="_blank">aboutcookies.org</a
      >. You can delete all cookies that are already on your computer and you
      can set most browsers to prevent them from being placed.
    </p>
    <p>
      <strong>Opt-Out Options:</strong> If you opt out of cookies, you may not
      be able to use certain features of the platform, and your user experience
      may be adversely impacted.
    </p>

    <h3>5. Disclosure of Information</h3>

    <h4>Circumstances of Disclosure</h4>
    <p>
      We may disclose the personal information we collect or you provide as
      described in this policy:
    </p>
    <ul>
      <li>
        <strong>Legal Compliance and Protection:</strong> To comply with any
        court order, law, or legal process, including responding to any
        government or regulatory request, or if we believe disclosure is
        necessary or appropriate to protect the rights, property, or safety of
        ASCENDynamics, our users, or others.
      </li>
      <li>
        <strong>Business Transfers:</strong> In the event of a merger,
        acquisition, reorganization, bankruptcy, or other similar event, your
        information may be transferred to the successor entity.
      </li>
    </ul>

    <h4>Third-Party Sharing</h4>
    <p>
      <strong>Service Providers:</strong> We may share your information with
      third parties who perform services on our behalf (e.g., payment
      processing, data analysis, email delivery, hosting services).
    </p>
    <p>
      <strong>Partnerships:</strong> We may disclose information to our partners
      in accordance with our agreements with them, including advertisers and
      sponsors of our services.
    </p>
    <p>
      <strong>Consent:</strong> We may also disclose your personal information
      to any other third party with your prior consent.
    </p>

    <h3>6. User Rights</h3>

    <h4>Access and Control</h4>
    <p>
      <strong>Viewing and Updating Information:</strong> Users have the right to
      access and update their personal information at any time. This can
      typically be done through the user profile settings on the ASCENDynamics
      platform.
    </p>
    <p>
      <strong>Data Portability:</strong> Upon request, we will provide you with
      a copy of your personal data in a structured, commonly used, and
      machine-readable format.
    </p>
    <p>
      <strong>Account Deletion:</strong> Users can request the deletion of their
      account and associated data. Some information may be retained for a
      certain period as required by law or for legitimate business purposes.
    </p>

    <h4>Opt-Out Options</h4>
    <p>
      <strong>Marketing Communications:</strong> Users can opt out of receiving
      marketing emails from us by following the unsubscribe link included in
      such emails.
    </p>
    <p>
      <strong>Cookie Preferences:</strong> Users can manage their cookie
      preferences through their browser settings, allowing them to refuse
      certain types of cookies.
    </p>

    <h3>7. Data Security</h3>

    <h4>Security Measures</h4>
    <p>
      <strong>Protection Strategies:</strong> We implement a variety of security
      measures, including encryption, firewalls, and secure server facilities,
      to protect against unauthorized access, alteration, disclosure, or
      destruction of your personal information, username, password, transaction
      information, and data stored on our platform.
    </p>
    <p>
      <strong>Regular Reviews:</strong> Our security policies are regularly
      reviewed and enhanced as necessary, and only authorized personnel have
      access to personal information. We are committed to ensuring that your
      information is secure.
    </p>

    <h4>Data Breach Procedures</h4>
    <p>
      <strong>Incident Response:</strong> In the event of a data breach, we have
      implemented procedures to respond promptly to secure the data, assess the
      risk to individuals, and take appropriate steps to rectify the breach.
    </p>
    <p>
      <strong>Notification:</strong> Should any breach result in a high risk to
      the rights and freedoms of individuals, we will notify affected users
      without undue delay.
    </p>
    <p>
      <strong>Regulatory Compliance:</strong> We will also communicate any data
      breaches to the appropriate regulatory authorities as required by law,
      detailing the extent of the breach and any measures taken to address it.
    </p>

    <h3>8. International Users</h3>

    <h4>International Data Transfer</h4>
    <p>
      <strong>Cross-Border Data Transfers:</strong> Personal information
      collected on the ASCENDynamics platform may be stored and processed in any
      country where we operate or where our service providers are located. By
      using our platform, you consent to the transfer of information to
      countries outside of your country of residence, which may have different
      data protection rules than those of your country.
    </p>
    <p>
      <strong>Safeguards:</strong> We take appropriate measures to ensure that
      your personal information remains protected and secure in accordance with
      this Privacy Policy, regardless of where it is processed.
    </p>

    <h4>Regional Privacy Laws</h4>
    <p>
      <strong>Compliance with Local Laws:</strong> ASCENDynamics is committed to
      complying with regional privacy laws and regulations, including the
      General Data Protection Regulation (GDPR) for our European users. This
      includes provisions for data subject rights such as access, rectification,
      erasure, and data portability.
    </p>
    <p>
      <strong>Specific Rights for EU Residents:</strong> If you are a resident
      of the European Union, you have certain rights under the GDPR, including
      the right to object to processing and the right to lodge a complaint with
      a supervisory authority.
    </p>

    <h3>9. Policy Updates</h3>

    <h4>Changes to the Policy</h4>
    <p>
      <strong>Notification of Changes:</strong> We reserve the right to update
      or modify this Privacy Policy at any time and without prior notice.
      Changes to our Privacy Policy will be posted on our platform and, where
      appropriate, notified to you by email or other means.
    </p>
    <p>
      <strong>Review Responsibility:</strong> We encourage users to frequently
      review the Privacy Policy for any changes to stay informed about how we
      are protecting the personal information we collect.
    </p>

    <h4>User Acknowledgement</h4>
    <p>
      <strong>Acceptance of Revised Terms:</strong> Your continued use of the
      ASCENDynamics platform after any changes or revisions to this Privacy
      Policy signifies your agreement with the terms of the revised policy. If
      you do not agree to the new terms, you should discontinue using the
      ASCENDynamics platform.
    </p>

    <h3>10. Contact Information</h3>

    <h4>Queries and Complaints</h4>
    <p>
      <strong>Direct Contact:</strong> If you have any questions, concerns, or
      complaints about this Privacy Policy or our handling of your personal
      data, you can contact us through the following means:
    </p>
    <ul>
      <li>
        <strong>Email:</strong> support&#64;ascendynamics.org - for direct
        communication with our privacy team.
      </li>
      <li>
        <strong>Mailing Address:</strong> 7649 W Irving Park Rd #N1, Chicago,
        IL, United States 60634 - for formal written inquiries or complaints.
      </li>
      <li>
        <strong>Phone:</strong> ###-###-#### - for immediate concerns or
        queries.
      </li>
    </ul>
    <p>
      <strong>Response Commitment:</strong> Our team is dedicated to addressing
      your concerns as promptly and thoroughly as possible. We aim to respond to
      all inquiries within one week of receipt.
    </p>
    <p>
      <strong>Feedback Process:</strong> We value your feedback and are
      committed to improving our policies and practices based on your input.
    </p>

    <h3>11. Effective Date</h3>

    <h4>Policy Effective Date</h4>
    <p>
      <strong>Date of Effectiveness:</strong> This Privacy Policy is effective
      as of January 1, 2024.
    </p>
    <p>
      <strong>Previous Versions:</strong> If applicable, note that previous
      versions of the Privacy Policy can be obtained by contacting us.
    </p>
    <p>
      <strong>Acknowledgement of Updates:</strong> By continuing to use the
      ASCENDynamics platform on or after this date, you agree to the terms of
      this Privacy Policy.
    </p>
  </div>

  <app-info-footer></app-info-footer>
</ion-content>
