<!-- role-hierarchy.page.html -->
<ion-header>
  <app-header [title]="'Role Hierarchy'" [defaultHref]="'../'"></app-header>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="toggleOrientation()">
    Toggle Orientation
  </ion-button>

  <div [ngClass]="orientation" class="tree-container" *ngIf="tree$ | async as tree">
    <ul class="tree">
      <ng-container *ngTemplateOutlet="nodeTemplate; context: {node: tree}"></ng-container>
    </ul>
  </div>

  <ng-template #nodeTemplate let-node="node">
    <li>
      <div class="node">
        {{ node.role?.name || 'None' }}
        <div class="accounts" *ngIf="node.accounts.length">
          <ion-list>
            <ion-item
              *ngFor="let acc of node.accounts"
              button
              detail="false"
              (click)="goToAccount(acc.id)"
            >
              <ion-thumbnail slot="start" *ngIf="acc.iconImage">
                <img [src]="acc.iconImage" [alt]="acc.name" />
              </ion-thumbnail>
              <ion-label>
                <h3>{{ acc.name }}</h3>
                <p>{{ acc.tagline }}</p>
              </ion-label>
              <ion-note slot="end" class="role-name">{{ acc.roleName }}</ion-note>
            </ion-item>
          </ion-list>
        </div>
      </div>
      <ul *ngIf="node.children.length">
        <ng-container *ngFor="let child of node.children">
          <ng-container *ngTemplateOutlet="nodeTemplate; context: {node: child}"></ng-container>
        </ng-container>
      </ul>
    </li>
  </ng-template>
</ion-content>
