rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /accounts/{accountId}/{allPaths=**} {
      allow read: if 
      	request.auth != null; 
      allow write: if 
      	request.auth != null && 
        request.auth.uid == accountId && 
        request.resource.contentType.matches('image/.*') && 
        request.resource.size < 5 * 1024 * 1024; // 5MB
    }

    match /feedback/{accountId}/{allPaths=**} {
      allow read: if 
      	request.auth != null; 
      allow write: if 
      	request.auth != null && 
        request.auth.uid == accountId && 
        request.resource.contentType.matches('image/.*') && 
        request.resource.size < 5 * 1024 * 1024; // 5MB
    }
  }

  // Depreciating for 'org' directory to make it more generalized.
  match /ASCENDynamicsNFP/{allPaths=**} {
    allow read: if true;
  }

  match /org/{allPaths=**} {
    allow read: if true;
  }
}