@import "src/styles/variables";
@import "src/styles/mixins";

.footer {
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  padding: 2.5rem 0;
  border-top: $border-width-thin solid var(--ion-border-color);

  ion-grid {
    max-width: 75rem;
    margin: 0 auto;
  }

  .footer-logo {
    text-align: center;

    img {
      max-width: 9.375rem;
    }

    p {
      font-size: 0.9rem;
      line-height: 1.5;
    }
  }

  .footer-nav {
    text-align: center;

    h3 {
      margin-bottom: 1.25rem;
      font-size: 1.2rem;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 0.625rem;

        a {
          color: var(--ion-color-primary);
          text-decoration: none;
          font-size: 1rem;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }

  .footer-social {
    text-align: center;

    h3 {
      margin-bottom: 1.25rem;
      font-size: 1.2rem;
    }

    ion-buttons {
      ion-button {
        --background: transparent;
        --color: var(--ion-color-primary);
        font-size: 1.5rem;
        margin: 0 0.3125rem;
      }
    }
    .social-buttons {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }

  .footer-bottom {
    text-align: center;
    margin-top: 1.25rem;

    p {
      font-size: 0.8rem;
      color: var(--ion-text-color);
    }
  }
}

/* Responsive Styles */
@include desktop {
  .footer-logo,
  .footer-nav,
  .footer-social {
    text-align: left;
  }

  .footer-nav ul {
    align-items: flex-start;
  }
}

@include mobile {
  .footer-nav ul {
    align-items: center;
  }
}
