<ion-content>
  <div class="header-image">
    <img src="assets/image/userhero.png" alt="Header Background">
    <ion-button fill="outline" class="edit-button">
      <ion-icon name="pencil-outline"></ion-icon> Edit
    </ion-button>
  </div>

  <div class="profile-header">
    <div class="profile-info">
      <img [src]="account?.iconImage || 'assets/default-profile.png'" class="profile-img" alt="Profile Photo">
      <div class="profile-details">
        <h2>{{account?.name}}</h2>
        <p>{{account?.contactInformation?.address?.city}}/{{account?.contactInformation?.address?.country}}</p>
        <p class="tagline">{{account?.tagline}}</p>
        <ion-button fill="outline" class="edit-button">
          <ion-icon name="pencil-outline"></ion-icon> Edit
        </ion-button>
      </div>
    </div>
    <div class="profile-actions">
      <ion-button>Follow</ion-button>
      <ion-button>Message</ion-button>
      <ion-button fill="outline">Donate</ion-button>
    </div>
  </div>

  <ion-segment [(ngModel)]="segment" color="primary" class="tabs">
    <ion-segment-button value="profile" (click)="scrollTo('profile')">
      <ion-label>Profile</ion-label>
    </ion-segment-button>
    <ion-segment-button value="contact" (click)="scrollTo('contact')">
      <ion-label>Contact Information</ion-label>
    </ion-segment-button>
    <ion-segment-button value="professional" (click)="scrollTo('professional')">
      <ion-label>Professional Contact</ion-label>
    </ion-segment-button>
    <ion-segment-button value="volunteer" (click)="scrollTo('volunteer')">
      <ion-label>Volunteer Preferences</ion-label>
    </ion-segment-button>
    <ion-segment-button value="labor" (click)="scrollTo('labor')">
      <ion-label>Labor Rights</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment" class="segment-content">
    <div id="profile" *ngSwitchCase="'profile'">Profile Content</div>
    <div id="contact" *ngSwitchCase="'contact'">Contact information Content</div>
    <div id="professional" *ngSwitchCase="'professional'">Professional contact Content</div>
    <div id="volunteer" *ngSwitchCase="'volunteer'">Volunteer preferences Content</div>
    <div id="labor" *ngSwitchCase="'labor'">Labor rights Content</div>
  </div>
</ion-content>