<ion-header [translucent]="true">
  <app-header title="Services"></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <app-header title="Services"></app-header>
  </ion-header>
  <ion-grid fixed>
    <!-- Content section-->
    <ion-card class="ion-margin">
      <ion-card-header>
        <ion-card-title>Technical Assistance</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Our technical assistance services are designed to help startups and
          nonprofits overcome technical challenges and develop the skills they
          need to succeed. We offer training, consulting, and other support
          services to help our clients leverage technology to achieve their
          goals.
        </p>
      </ion-card-content>
    </ion-card>
    <!-- Image element - set the background image for the header in the line below-->
    <ion-img
      class="content-image"
      style="
        margin-bottom: 1rem;
        max-height: 300px;
        object-fit: cover;
        object-position: 50% 50%;
        overflow: hidden;
        display: block;
        margin-left: auto;
        margin-right: auto;
      "
      src="assets/image/pexels-shvets-production-7176305.jpg"
    ></ion-img>
    <!-- Content section-->
    <ion-card class="ion-margin">
      <ion-card-header>
        <ion-card-title>Development Support</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Our development support services are designed to help startups and
          nonprofits grow and scale their operations. We offer fundraising,
          grant writing, and other support services to help our clients access
          the resources they need to achieve their goals.
        </p>
      </ion-card-content>
    </ion-card>
    <!-- Image element - set the background image for the header in the line below-->
    <ion-img
      class="content-image"
      style="
        margin-bottom: 1rem;
        max-height: 300px;
        object-fit: cover;
        object-position: 50% 50%;
        overflow: hidden;
        display: block;
        margin-left: auto;
        margin-right: auto;
      "
      src="assets/image/pexels-alex-green-5699424.jpg"
    ></ion-img>
    <!-- Content section-->
    <ion-card class="ion-margin">
      <ion-card-header>
        <ion-card-title>Marketing Support</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Our marketing support services are designed to help startups and
          nonprofits reach their target audience and build their brand. We offer
          branding, digital marketing, social media management, and other
          support services to help our clients tell their story and connect with
          their community. We emphasize SEO techniques to improve online
          visibility.
        </p>
      </ion-card-content>
    </ion-card>
    <!-- Image element - set the background image for the header in the line below-->
    <ion-img
      class="content-image"
      style="
        margin-bottom: 1rem;
        max-height: 300px;
        object-fit: cover;
        object-position: 50% 50%;
        overflow: hidden;
        display: block;
        margin-left: auto;
        margin-right: auto;
      "
      src="assets/image/pexels-kampus-production-7551607.jpg"
    ></ion-img>
    <!-- Content section-->
    <ion-card class="ion-margin">
      <ion-card-header>
        <ion-card-title>Networking Resources</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Our networking resources are designed to help startups and nonprofits
          connect with other organizations, potential partners, and funders. We
          offer networking events, matchmaking services, and other support
          services to help our clients build their networks and expand their
          reach.
        </p>
      </ion-card-content>
    </ion-card>
    <!-- Image element - set the background image for the header in the line below-->
    <ion-img
      class="content-image"
      style="
        margin-bottom: 1rem;
        max-height: 300px;
        object-fit: cover;
        object-position: 50% 50%;
        overflow: hidden;
        display: block;
        margin-left: auto;
        margin-right: auto;
      "
      src="assets/image/pexels-rfstudio-3810793.jpg"
    ></ion-img>
  </ion-grid>
  <ion-footer>
    <div class="footer">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="4" class="footer-logo">
            <img
              src="assets/image/logo/ASCENDynamics NFP-logos_transparent.png"
              alt="ASCENDynamics Logo"
            />
          </ion-col>
          <ion-col size="12" size-md="4" class="footer-nav">
            <h3>Quick Links</h3>
            <ul>
              <li>
                <a (click)="openLegalModal('privacyPolicy')">Privacy Policy</a>
              </li>
              <li>
                <a (click)="openLegalModal('termsOfUse')">Terms of Service</a>
              </li>
            </ul>
          </ion-col>
          <ion-col size="12" size-md="4" class="footer-social">
            <h3>Follow Us</h3>
            <ion-buttons class="social-buttons">
              <ion-button
                href="https://github.com/ASCENDynamics-NFP"
                target="_blank"
                ><ion-icon slot="icon-only" name="logo-github"></ion-icon
              ></ion-button>
              <ion-button
                href="https://www.facebook.com/ASCENDynamicsNFP"
                target="_blank"
                ><ion-icon slot="icon-only" name="logo-facebook"></ion-icon
              ></ion-button>
              <ion-button
                href="https://www.linkedin.com/company/ascendynamics-nfp"
                target="_blank"
                ><ion-icon slot="icon-only" name="logo-linkedin"></ion-icon
              ></ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="footer-bottom">
        <p>&copy; {{ currentYear }} ASCENDynamics NFP. All rights reserved.</p>
      </div>
    </div>
  </ion-footer>
</ion-content>
