<ion-header [translucent]="true">
  <app-header [title]="'Terms of Use'"></app-header>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="legal-content">
    <h2>Terms of Use</h2>

    <h3>1. Introduction</h3>

    <h4>Purpose of the Document</h4>
    <p>
      This Terms of Use document ("Terms") serves as a binding agreement between
      ASCENDynamics NFP Collaborative Nonprofit Network ("ASCENDynamics," "we,"
      "us," or "our") and you, the user ("User," "you," or "your"). This
      document outlines the rules, guidelines, and conditions under which you
      may access and use our platform and its associated services. The purpose
      of these Terms is to ensure a clear understanding of the mutual
      responsibilities and to maintain a safe, respectful, and legally compliant
      environment for all users. By accessing and using our platform, you agree
      to comply with these Terms, which are designed to promote positive and
      productive interactions within our community.
    </p>

    <h4>Acceptance of Terms</h4>
    <p>
      By registering for an account, accessing, or using our platform in any
      capacity, you acknowledge that you have read, understood, and agree to be
      bound by these Terms. If you do not agree with any part of these Terms,
      you must not use or access our platform. Your continued use of the
      platform will be deemed as acceptance of any amended or updated Terms.
    </p>

    <h3>2. User Eligibility</h3>

    <h4>Age Requirement</h4>
    <p>
      To create an account and engage with the ASCENDynamics platform, you must
      be at least 18 years of age. By agreeing to these Terms, you represent and
      warrant that you are of legal age to form a binding contract with
      ASCENDynamics. If you are not of legal age, you must not access or use the
      platform.
    </p>

    <h4>User Representation</h4>
    <p>
      When creating an account and using our platform, you agree to: (1) provide
      accurate, truthful, current, and complete information about yourself as
      prompted by our registration forms ("Registration Data"); and (2) maintain
      and promptly update the Registration Data to keep it accurate, current,
      and complete. You acknowledge that if any information provided by you is
      untrue, inaccurate, not current, or incomplete, we reserve the right to
      suspend or terminate your account and refuse any and all current or future
      use of our platform.
    </p>

    <h3>3. User Account and Responsibilities</h3>

    <h4>Account Creation</h4>
    <p>
      To access the full features of the ASCENDynamics platform, you must create
      an account. Account creation involves the following steps:
    </p>
    <ul>
      <li>
        <strong>Registration:</strong> Complete the registration form by
        providing required information, including but not limited to your name,
        email address, and password.
      </li>
      <li>
        <strong>Verification:</strong> Depending on the platform's requirements,
        you may need to verify your email address or phone number to confirm
        your identity.
      </li>
      <li>
        <strong>Profile Setup:</strong> You may be prompted to set up a user
        profile, which could include additional personal details, preferences,
        and areas of interest.
      </li>
    </ul>

    <h4>Account Responsibilities</h4>
    <p>
      As a user of the ASCENDynamics platform, you are responsible for
      maintaining the confidentiality of your account information, including
      your password, and for all activities that occur under your account. You
      agree to:
    </p>
    <ul>
      <li>
        <strong>Secure Your Account:</strong> Take reasonable steps to protect
        your account information from unauthorized access.
      </li>
      <li>
        <strong>Notify of Unauthorized Use:</strong> Immediately notify
        ASCENDynamics of any unauthorized use of your account or any other
        breach of security.
      </li>
      <li>
        <strong>Account Conduct:</strong> Ensure that your use of the account
        complies with these Terms and all applicable laws and regulations.
      </li>
    </ul>

    <h3>4. Prohibited Activities</h3>

    <h4>List of Prohibited Activities</h4>
    <p>
      While using the ASCENDynamics platform, the following activities are
      strictly prohibited:
    </p>
    <ul>
      <li>
        <strong>Illegal Activities:</strong> Engaging in illegal activities or
        promoting criminal actions.
      </li>
      <li>
        <strong>Harassment and Abuse:</strong> Harassing, bullying, or
        threatening other users, or promoting violence or harm.
      </li>
      <li>
        <strong>False Information:</strong> Knowingly disseminating false or
        misleading information.
      </li>
      <li>
        <strong>Infringement of Rights:</strong> Violating the intellectual
        property rights of others.
      </li>
      <li><strong>Spamming:</strong> Sending unsolicited messages or spam.</li>
      <li>
        <strong>Hacking and Unauthorized Access:</strong> Attempting to gain
        unauthorized access to other user accounts or the platform's systems.
      </li>
      <li>
        <strong>Other Disruptive Behaviors:</strong> Engaging in any other
        activity that disrupts the platform's operation or harms other users.
      </li>
    </ul>

    <h4>Consequences of Violating Rules</h4>
    <p>
      Violation of these rules may result in a range of actions taken by
      ASCENDynamics, depending on the severity and nature of the violation.
      These actions include, but are not limited to:
    </p>
    <ul>
      <li>
        <strong>Warning:</strong> Issuing a warning to the offending user.
      </li>
      <li>
        <strong>Temporary Suspension:</strong> Temporarily suspending the user's
        access to the platform.
      </li>
      <li>
        <strong>Permanent Ban:</strong> Permanently banning the user from the
        platform.
      </li>
      <li>
        <strong>Legal Action:</strong> Initiating legal proceedings if the
        violation constitutes a criminal offense or causes significant harm to
        ASCENDynamics or its users.
      </li>
    </ul>

    <h3>5. Content Ownership and Use</h3>

    <h4>User-Generated Content</h4>
    <p>
      <strong>Posting Guidelines:</strong> Users are encouraged to share, post,
      and create content that is beneficial to the community. However, all
      user-generated content must comply with our platform's standards, which
      prohibit offensive, harmful, or illegal content.
    </p>
    <p>
      <strong>Responsibility for Content:</strong> You are solely responsible
      for the content you post, including its legality, reliability, and
      appropriateness. ASCENDynamics NFP does not claim ownership of the content
      you provide and post on the platform.
    </p>
    <p>
      <strong>License to Use:</strong> By posting content on the ASCENDynamics
      platform, you grant us a non-exclusive, worldwide, royalty-free,
      perpetual, and transferable license to use, reproduce, modify, display,
      and distribute your content in connection with the platform's services.
      This license is solely for the purpose of operating, promoting, and
      improving our services.
    </p>

    <h4>Intellectual Property Rights</h4>
    <p>
      <strong>Respect for Intellectual Property:</strong> Users must respect the
      intellectual property rights of others. Content that infringes upon the
      copyrights, trademarks, patents, or other intellectual property rights of
      any person or entity is strictly prohibited.
    </p>
    <p>
      <strong>Copyright Complaints:</strong> ASCENDynamics adheres to
      appropriate legal procedures for addressing allegations of copyright
      infringement in accordance with applicable copyright laws.
    </p>
    <p>
      <strong>Content Removal:</strong> We reserve the right to remove or
      disable access to any content that is found to be in violation of these
      Terms or infringing on intellectual property rights.
    </p>

    <h3>6. Privacy and Data Protection</h3>

    <h4>Data Collection and Use</h4>
    <ul>
      <li>
        <strong>Collection of Information:</strong> The ASCENDynamics platform
        collects various types of information from its users, including personal
        identification information, usage data, and other relevant data
        necessary for the effective operation of the service.
      </li>
      <li>
        <strong>Use of Data:</strong> The collected data is used for purposes
        such as providing and maintaining the service, identifying and
        communicating with users, responding to user requests/inquiries,
        improving our services, and enforcing our Terms of Use.
      </li>
      <li>
        <strong>Data Sharing:</strong> We do not sell or rent user data to third
        parties. Data may be shared with third parties only when necessary for
        the provision of our services, compliance with the law, or protection of
        our rights.
      </li>
    </ul>

    <h4>User Privacy</h4>
    <ul>
      <li>
        <strong>Commitment to Privacy:</strong> Protecting user privacy is a top
        priority for ASCENDynamics. We implement a variety of security measures
        to maintain the safety of your personal information.
      </li>
      <li>
        <strong>Access to Information:</strong> Users have the right to access,
        update, or delete the personal information we hold about them.
      </li>
      <li>
        <strong>Changes to Privacy Practices:</strong> If any changes are made
        to our privacy practices, users will be notified through the platform or
        via email, as appropriate.
      </li>
    </ul>

    <h3>7. Disclaimers</h3>

    <h4>No Warranties</h4>
    <ul>
      <li>
        <strong>"As Is" Basis:</strong> The ASCENDynamics platform and all
        content, materials, information, services, and products available
        through the platform, including, but not limited to, software, are
        provided on an "as is" and "as available" basis, without warranties of
        any kind, either express or implied.
      </li>
      <li>
        <strong>Disclaimer of Warranties:</strong> ASCENDynamics expressly
        disclaims all warranties of any kind, whether express or implied,
        including, but not limited to, implied warranties of merchantability,
        fitness for a particular purpose, and non-infringement. We do not
        warrant that the platform will be uninterrupted, timely, secure, or
        error-free, or that defects, if any, will be corrected.
      </li>
    </ul>

    <h4>Accuracy of Information</h4>
    <ul>
      <li>
        <strong>No Guarantee of Accuracy:</strong> While ASCENDynamics strives
        to provide accurate and up-to-date information, we make no
        representations or warranties as to the accuracy, reliability,
        completeness, or timeliness of any information on the platform. The use
        of the platform and its content is at your own risk.
      </li>
      <li>
        <strong>User Responsibility:</strong> Users are responsible for
        verifying the accuracy of information before relying on it. We are not
        responsible for any decisions made based on the information provided on
        the platform.
      </li>
    </ul>

    <h3>8. Limitation of Liability</h3>

    <h4>Limitations</h4>
    <ul>
      <li>
        <strong>Scope of Liability:</strong> To the fullest extent permitted by
        law, ASCENDynamics shall not be liable for any direct, indirect,
        incidental, special, consequential, or exemplary damages, including but
        not limited to, damages for loss of profits, goodwill, use, data, or
        other intangible losses (even if ASCENDynamics has been advised of the
        possibility of such damages), resulting from: (i) the use or the
        inability to use the platform; (ii) unauthorized access to or alteration
        of your transmissions or data; (iii) statements or conduct of any third
        party on the platform; or (iv) any other matter relating to the
        platform.
      </li>
      <li>
        <strong>Cap on Liability:</strong> In jurisdictions that do not allow
        the exclusion or limitation of liability for consequential or incidental
        damages, ASCENDynamics' liability is limited to the greatest extent
        permitted by law.
      </li>
      <li>
        <strong>User Acknowledgement:</strong> By using the platform, you
        acknowledge and agree that the limitations of liability set forth in
        this section are fundamental elements of the basis of the bargain
        between ASCENDynamics and you, and the platform would not be provided
        without such limitations.
      </li>
    </ul>

    <h3>9. Modification of Terms</h3>

    <h4>Right to Modify Terms</h4>
    <ul>
      <li>
        <strong>Reserve of Rights:</strong> ASCENDynamics reserves the right, at
        our sole discretion, to change, modify, add, or remove portions of these
        Terms of Use at any time. It is your responsibility to check these Terms
        periodically for changes.
      </li>
      <li>
        <strong>Notification of Changes:</strong> Changes to the Terms will be
        effective immediately upon posting on the platform unless we specify
        otherwise. We will make reasonable efforts to notify users of
        significant changes through the platform interface, email notification,
        or other reasonable means.
      </li>
      <li>
        <strong>Acceptance of Revised Terms:</strong> Your continued use of the
        platform following the posting of changes will mean that you accept and
        agree to the changes. If you do not agree to the amended terms, you must
        stop using the platform.
      </li>
    </ul>

    <h3>10. Termination of Service</h3>

    <h4>Termination by Platform</h4>
    <ul>
      <li>
        <strong>Circumstances for Termination:</strong> ASCENDynamics may
        terminate or suspend your access to the platform and your account at any
        time, without notice, in our sole discretion, for any reason, including
        but not limited to a breach of these Terms.
      </li>
      <li>
        <strong>Effect of Termination:</strong> Upon termination, your right to
        use the platform will immediately cease. If your account is terminated,
        you may no longer have access to data, messages, files, and other
        material you keep on the platform.
      </li>
      <li>
        <strong>Survival of Terms:</strong> Termination of your account does not
        affect the applicability of those sections of these Terms that are
        intended to survive termination.
      </li>
    </ul>

    <h4>Termination by User</h4>
    <ul>
      <li>
        <strong>User-Initiated Termination:</strong> You may terminate your
        account at any time through the account settings feature on the platform
        or by contacting our support team.
      </li>
      <li>
        <strong>Responsibility for Activities Pre-Termination:</strong>
        Termination of your account is your sole right and remedy with respect
        to any dispute with us regarding the platform or these Terms. Upon
        termination of your account, you remain liable for all activities
        conducted through your account prior to termination.
      </li>
    </ul>

    <h3>11. Governing Law and Dispute Resolution</h3>

    <h4>Jurisdiction</h4>
    <ul>
      <li>
        <strong>Applicable Law:</strong> These Terms of Use and any separate
        agreements whereby we provide you services shall be governed by and
        construed in accordance with the laws of the State of Illinois, United
        States.
      </li>
      <li>
        <strong>Jurisdiction for Disputes:</strong> Any disputes arising out of
        or in connection with these Terms or the use of the ASCENDynamics
        platform shall be subject to the exclusive jurisdiction of the state and
        federal courts located in the State of Illinois, United States.
      </li>
    </ul>

    <h4>Dispute Resolution</h4>
    <ul>
      <li>
        <strong>Informal Resolution:</strong> Before filing a claim against
        ASCENDynamics, you agree to try to resolve the dispute informally by
        contacting us. We'll try to resolve the dispute informally by contacting
        you via email.
      </li>
      <li>
        <strong>Formal Legal Action:</strong> If the dispute is not resolved
        within a specified period after submission (e.g., 60 days), either party
        may initiate formal proceedings.
      </li>
      <li>
        <strong>Alternative Dispute Resolution:</strong> ASCENDynamics may offer
        the option of resolving disputes through binding arbitration or small
        claims court, instead of in courts of general jurisdiction.
      </li>
    </ul>

    <h3>12. International Use</h3>

    <h4>International Laws</h4>
    <ul>
      <li>
        <strong>Compliance with Local Laws:</strong> The ASCENDynamics platform
        is controlled and operated from our facilities in the United States. We
        make no representations that the platform is appropriate or available
        for use in other locations. Those who access or use the platform from
        other jurisdictions do so at their own volition and are entirely
        responsible for compliance with all applicable local laws and
        regulations, including but not limited to export and import regulations.
        You should not use the platform in a manner prohibited by law.
      </li>
    </ul>

    <h3>13. Miscellaneous</h3>

    <h4>Severability</h4>
    <ul>
      <li>
        <strong>Validity of Remaining Provisions:</strong> If any provision of
        these Terms is held to be invalid, illegal, or unenforceable for any
        reason by any court of competent jurisdiction, such provision shall be
        modified to the extent necessary to make it enforceable while
        maintaining its intent as closely as possible. If such modification is
        not possible, the provision shall be severed from these Terms. The
        invalidity or unenforceability of any provision of these Terms shall not
        affect the validity or enforceability of any other provision of these
        Terms, which shall remain in full force and effect.
      </li>
    </ul>

    <h4>Entire Agreement</h4>
    <ul>
      <li>
        <strong>Complete Understanding:</strong> These Terms, together with any
        amendments and any additional agreements you may enter into with
        ASCENDynamics in connection with the platform, shall constitute the
        entire agreement between you and ASCENDynamics concerning the platform.
        These Terms supersede and replace any prior agreements or understandings
        between you and ASCENDynamics regarding the platform.
      </li>
      <li>
        <strong>No Oral Modifications:</strong> No modification, amendment, or
        waiver of any provision of these Terms shall be effective unless in
        writing and signed by the authorized representative of ASCENDynamics.
        Any oral agreement or arrangement made between you and any employee or
        representative of ASCENDynamics shall not be considered a modification
        or a waiver of these Terms.
      </li>
    </ul>

    <h3>14. Contact Information</h3>

    <h4>Contact Details</h4>
    <ul>
      <li>
        <strong>General Inquiries:</strong> For any questions or concerns
        regarding these Terms of Use or any other aspects of your experience
        with the ASCENDynamics platform, please contact us at:
      </li>
      <ul>
        <li><strong>Email:</strong> support&#64;ascendynamics.org</li>
        <li>
          <strong>Mailing Address:</strong> ASCENDynamics NFP, 7649 W Irving
          Park Rd #N1, Illinois, USA 60706
        </li>
        <li><strong>Phone:</strong></li>
      </ul>
      <li>
        <strong>Support Hours:</strong> Our support team is available Monday,
        Wednesday, Friday, 9 AM to 5 PM CST.
      </li>
      <li>
        <strong>Response Time:</strong> We aim to respond to all inquiries
        within one week during our regular business hours.
      </li>
      <li>
        <strong>Additional Support:</strong> For more immediate assistance,
        please visit our
        <a
          href="https://join.slack.com/t/ascendynamicsnfp/shared_invite/zt-1yqcw1hqa-slT2gWkBEkLOTRnN8zEqdQ"
          >Slack</a
        >
        community.
      </li>
    </ul>

    <h3>15. Acknowledgement and Acceptance of Terms</h3>

    <h4>User Acknowledgement</h4>
    <ul>
      <li>
        <strong>Agreement to Terms:</strong> By creating an account, accessing,
        or using the ASCENDynamics platform, you acknowledge that you have read,
        understood, and agree to be bound by these Terms of Use and any future
        amendments and additions to these Terms as published from time to time
        on the platform.
      </li>
      <li>
        <strong>Informed Consent:</strong> You acknowledge that you have been
        given the opportunity to discuss any questions or concerns about these
        Terms with ASCENDynamics representatives prior to acceptance.
      </li>
      <li>
        <strong>Continued Acceptance:</strong> Your continued use of the
        platform after any modifications or updates to these Terms are made will
        constitute your acceptance of such changes and agreement to be bound by
        the updated Terms.
      </li>
      <li>
        <strong>Legal Capacity:</strong> You affirm that you are of legal age
        and are fully able and competent to enter into the terms, conditions,
        obligations, affirmations, representations, and warranties set forth in
        these Terms, and to abide by and comply with these Terms.
      </li>
    </ul>
  </div>

  <app-info-footer></app-info-footer>
</ion-content>
