<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>startups</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">startups</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Responsive navbar-->
  <nav class="navbar navbar-collapse-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand text-wrap" href="/"
        >ASCENDynamics NFP - For Startups</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item">
            <a class="nav-link" href="/page/about-us.html">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page/services.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page/event-calendar.html"
              >Event Calendar</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="/page/startups.html"
              >Startups</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page/nonprofits.html">Nonprofits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page/think-tank.html">Think Tank </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page/team.html">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page/contact-us.html">Contact Us</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              target="_blank"
              href="https://buy.stripe.com/bIY5mC9sY1ob4TufYY"
              >Donate</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Header - set the background image for the header in the line below-->
  <header
    class="py-5 bg-image-full"
    style="
      background-image: url(&quot;../img/pexels-snapwire-37728.jpg&quot;);
      height: calc(50vh - 56px);
    "
  >
    <div class="text-center my-5">
      <!-- <img class="img-fluid rounded-circle mb-4" src="img\pexels-duane-viljoen-7238619.jpg" alt="..." /> -->
      <h1 class="text-dark fs-3 fw-bolder">Launch Your Worker-Owned Startup</h1>
      <p class="text-dark mb-0">
        ASCENDynamics is here to help startups succeed.
      </p>
    </div>
  </header>
  <!-- Content section-->
  <section class="py-5">
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h2>Startup Incubator</h2>
          <p class="lead">
            Our startup incubator program is designed to help entrepreneurs
            launch worker-owned cooperatives. We provide technical, marketing,
            development, funding, and networking resources to help startups get
            off the ground and succeed.
          </p>
          <!-- <p class="mb-0"></p> -->
        </div>
      </div>
    </div>
  </section>
  <!-- Image element - set the background image for the header in the line below-->
  <div
    class="py-5 bg-image-full"
    style="
      background-image: url(&quot;../img/pexels-kindel-media-7688161.jpg&quot;);
    "
  >
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
  </div>
  <!-- Content section-->
  <section class="py-5">
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h2>Success Stories</h2>
          <p class="lead">
            Check out some of the worker-owned cooperatives that have
            successfully launched with the help of ASCENDynamics. Learn about
            their challenges, successes, and the impact they're making in their
            communities.
          </p>
          <!-- <p class="mb-0"></p> -->
        </div>
      </div>
    </div>
  </section>
  <!-- Image element - set the background image for the header in the line below-->
  <div
    class="py-5 bg-image-full"
    style="
      background-image: url(&quot;../img/pexels-nataliya-vaitkevich-7172856.jpg&quot;);
    "
  >
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
  </div>
  <!-- Content section-->
  <section class="py-5">
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h2>Resources</h2>
          <p class="lead">
            Find resources and tools to help you launch and grow your
            worker-owned startup. We offer guides, templates, and other
            resources to help you succeed.
          </p>
          <!-- <p class="mb-0"></p> -->
        </div>
      </div>
    </div>
  </section>
  <!-- Image element - set the background image for the header in the line below-->
  <div
    class="py-5 bg-image-full"
    style="
      background-image: url(&quot;../img/pexels-anna-shvets-5324941.jpg&quot;);
    "
  >
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
  </div>
  <!-- Footer-->
  <footer class="py-5 bg-dark">
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0" style="margin: auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item">
              <a class="nav-link" href="/page/about-us.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/page/services.html">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/page/event-calendar.html"
                >Event Calendar</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/page/startups.html"
                >Startups</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/page/nonprofits.html">Nonprofits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/page/think-tank.html">Think Tank </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/page/team.html">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/page/contact-us.html">Contact Us</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                target="_blank"
                href="https://buy.stripe.com/bIY5mC9sY1ob4TufYY"
                >Donate</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Social Media Links -->
    <div class="container">
      <p class="m-0 text-center text-white">
        Copyright &copy; ASCENDynamics 2021
      </p>
    </div>
  </footer>
</ion-content>
