<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Group List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Group List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Group Search</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input
          [(ngModel)]="searchTerm"
          label="Search Group"
          labelPlacement="fixed"
          placeholder="Group Name"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-button expand="full" (click)="search()">Search</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-list lines="full">
    <ion-item *ngFor="let group of groups; let i = index">
      <ion-label>{{group['name']}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
