<h2>Week of {{ weekStart | date: 'MMM d' }}</h2>
<button (click)="toggleProjectDropdown()">Add Project</button>
<select *ngIf="dropdownOpen" (change)="addProjectById($event)">
  <option value="">Select...</option>
  <option
    *ngFor="let proj of availableProjects"
    [value]="proj.id"
    [disabled]="isSelected(proj.id)"
  >
    {{ proj.name }}
  </option>
</select>

<table class="week-grid">
  <thead>
    <tr>
      <th>Project</th>
      <th *ngFor="let day of days">{{ day | date: "EEE MM/dd" }}</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects">
      <td>{{ project.name }}</td>
      <td *ngFor="let day of days">
        <input
          type="number"
          [value]="getEntry(project.id, day)?.hours"
          (change)="onHoursChange(project, day, $event)"
        />
      </td>
      <td>{{ rowTotals[project.id] || 0 }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Total</td>
      <td *ngFor="let total of columnTotals">{{ total }}</td>
      <td>{{ totalHours }}</td>
    </tr>
  </tfoot>
</table>
