<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">User Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <app-language-selector></app-language-selector>
    </ion-item>
    <ion-item>
      <ion-label translate> user.welcome_message </ion-label>
      <p translate>user.logout</p>
    </ion-item>
    <ion-item>
      <app-friend-request *ngIf="user" [user]="user"></app-friend-request>
    </ion-item>
  </ion-list>
</ion-content>
