<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">User Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-card style="width: 100% !important">
        <ion-card-header>
          <ion-card-title>POC: Language Selector</ion-card-title>
        </ion-card-header>
        <ion-item>
          <app-language-selector></app-language-selector>
        </ion-item>
        <ion-item>
          <p translate>user.welcome_message</p>
        </ion-item>
        <ion-item>
          <p translate>user.logout</p>
        </ion-item>
      </ion-card>
    </ion-item>
    <ion-item>
      <app-friend-request *ngIf="user" [user]="user"></app-friend-request>
    </ion-item>
  </ion-list>
</ion-content>