<!-- role-management.page.html -->
<ion-header>
  <app-header [title]="'Group Roles'" [defaultHref]="'../'"></app-header>
</ion-header>

<ion-content>
  <ng-container *ngIf="roles$ | async as roles">
    <ion-list>
      <ion-item *ngFor="let role of roles">
        <ion-label class="ion-text-wrap" slot="start">
          <h3>{{ role.name }}</h3>
          <p>
            Parent: {{ getParentName(role.parentRoleId, roles) || 'None' }}<br />
            {{ role.description }}
          </p>
        </ion-label>
        <ion-input
          [(ngModel)]="role.name"
          placeholder="Name"
          (ionBlur)="updateRole(role)"
        ></ion-input>
        <ion-input
          [(ngModel)]="role.description"
          placeholder="Description"
          (ionBlur)="updateRole(role)"
        ></ion-input>
        <ion-select
          [(ngModel)]="role.parentRoleId"
          placeholder="Parent"
          (ionChange)="updateRole(role)"
        >
          <ion-select-option [value]="undefined">None</ion-select-option>
          <ion-select-option
            *ngFor="let parent of roles"
            [value]="parent.id"
            [disabled]="parent.id === role.id || isDescendant(parent.id, role.id, roles)"
          >
            {{ parent.name }}
          </ion-select-option>
        </ion-select>
        <ion-button slot="end" color="primary" (click)="updateRole(role)">
          Save
        </ion-button>
        <ion-button slot="end" color="danger" (click)="deleteRole(role)">
          Delete
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-input
        placeholder="Role name"
        [(ngModel)]="newRole.name"
      ></ion-input>
      <ion-input
        placeholder="Description"
        [(ngModel)]="newRole.description"
      ></ion-input>
      <ion-select [(ngModel)]="newRole.parentRoleId" placeholder="Parent">
        <ion-select-option [value]="undefined">None</ion-select-option>
        <ion-select-option
          *ngFor="let parent of roles"
          [value]="parent.id"
        >
          {{ parent.name }}
        </ion-select-option>
      </ion-select>
      <ion-button (click)="addRole()">Add</ion-button>
    </ion-item>
  </ng-container>
</ion-content>
