@import "variables";
@import "mixins";

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.font-bold {
  font-weight: $font-weight-bold;
}

.font-semibold {
  font-weight: $font-weight-semibold;
}
