<ion-card *ngIf="user">
  <ion-card-header>
    <ion-card-title>About Me</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>
            <p>{{ user.bio }}</p>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            <p><strong>Address:</strong> {{ user.addressFormatted }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p>
              <strong>Phone:</strong> {{ user.phoneCountryCode }}
              {{ user.phoneNumber }}
            </p>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            <p>
              <strong>Birth Date:</strong>
              {{ dateOfBirth | date : "mediumDate" }}
            </p>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-botton
            expand="block"
            fill="clear"
            color="primary"
            routerLink="/user-profile/{{ user.id }}/edit"
            >Edit Profile</ion-botton
          >
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <ion-item>
        <ion-botton
          expand="block"
          fill="clear"
          routerLink="/user-profile/{{ user.id }}/edit"
          >Edit Profile</ion-botton
        >
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
