.professional-info-card {
  border: 1px solid var(--ion-color-primary);
}

.professional-info-card ion-card-title {
  font-size: 1.5em;
  margin-bottom: 16px;
}

.professional-info-card .info-block {
  margin-bottom: 16px;
}

.professional-info-card h2 {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.professional-info-card p {
  font-size: 1em;
  color: #aaa;
  margin: 4px 0 0 0;
}
