<div *ngIf="visible && suggestions.length > 0" class="category-suggestions">
  <div class="suggestions-header">
    <ion-icon name="bulb" color="primary"></ion-icon>
    <span>Smart Category Suggestions</span>
    <ion-button fill="clear" size="small" (click)="dismiss()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

  <div class="suggestions-list">
    <div
      *ngFor="let suggestion of suggestions"
      class="suggestion-item"
      (click)="applySuggestedCategory(suggestion)"
    >
      <div class="suggestion-content">
        <div class="suggestion-category">
          <ion-icon
            [name]="projectCategories[suggestion.category].icon"
            [style.color]="projectCategories[suggestion.category].color"
          ></ion-icon>
          <span class="category-name">{{ suggestion.category }}</span>
          <ion-badge
            [color]="getConfidenceColor(suggestion.confidence)"
            class="confidence-badge"
          >
            {{ suggestion.confidence }}%
          </ion-badge>
        </div>
        <p class="suggestion-reason">{{ suggestion.reason }}</p>
      </div>
    </div>
  </div>
</div>
