@import "src/styles/variables";
@import "src/styles/mixins";

/* About Us Page Styles */
.content-image {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  margin-bottom: $spacing-md;
}

.text-section {
  padding: $spacing-md;
  font-size: 1rem;
  line-height: 1.6;
}

p {
  color: var(--ion-text-color);
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: $spacing-md;
}

ion-card-title {
  font-size: 1.5rem;
  margin-bottom: $spacing-md;
}

ul {
  font-size: 1.1rem;
  line-height: 1.7;

  li {
    margin-bottom: 0.75rem;
    padding-left: 0.5rem;
  }
}

/* Responsive Styles */
@include desktop {
  .text-section {
    padding: $spacing-xl;
  }
}

@include mobile {
  .features h2 {
    padding: 0;
  }
}
