<ion-header [translucent]="true">
  <app-header [title]="'menu.about_us'"></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <app-header [title]="'menu.about_us'"></app-header>
  </ion-header> -->
  <ion-grid fixed>
    <!-- Content section-->
    <ion-card class="ion-margin">
      <ion-card-header>
        <ion-card-title>Our Mission</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          At ASCENDynamics, our mission is to incubate worker-owned cooperatives
          and enhance collaboration among nonprofit organizations and mutual aid
          groups. We help entrepreneurs and community leaders turn their ideas
          into successful ventures by providing technical development, marketing
          guidance, funding strategies, and networking opportunities. By
          championing cooperative business models and open collaboration, we
          advance economic and social justice, especially in underserved
          communities that benefit most from empowerment and equitable growth.
        </p>
      </ion-card-content>
    </ion-card>
    <!-- Image element - set the background image for the header in the line below-->
    <ion-img
      class="content-image"
      style="
        margin-bottom: 1rem;
        max-height: 300px;
        object-fit: cover;
        object-position: 50% 50%;
        overflow: hidden;
        display: block;
        margin-left: auto;
        margin-right: auto;
      "
      src="assets/image/pexels-fauxels-3184423.jpg"
    ></ion-img>
    <!-- Content section-->
    <ion-card class="ion-margin">
      <ion-card-header>
        <ion-card-title>Our Values</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          We believe lasting change comes from working together. Our core values
          guide everything we do:
        </p>
        <ul style="color: var(--ion-text-color)">
          <li>
            <strong style="color: var(--ion-color-primary)"
              >Cooperation & Community:</strong
            >
            We foster a culture of teamwork where nonprofits, cooperatives,
            volunteers, and donors share knowledge and resources to achieve
            common goals.
          </li>
          <li>
            <strong style="color: var(--ion-color-primary)"
              >Inclusion & Equity:</strong
            >
            We uplift diverse voices and focus on underserved communities,
            ensuring everyone has access to opportunities and a seat at the
            table.
          </li>
          <li>
            <strong style="color: var(--ion-color-primary)"
              >Innovation & Open Source:</strong
            >
            We embrace creativity and technology, using open-source tools and
            ideas to drive social innovation and improve how organizations
            collaborate.
          </li>
          <li>
            <strong style="color: var(--ion-color-primary)"
              >Sustainability & Impact:</strong
            >
            We commit to solutions that are socially, economically, and
            environmentally sustainable, aiming for tangible social impact and a
            more just world.
          </li>
        </ul>
        <p>
          If our mission and values resonate with you, we welcome you to be part
          of our journey. Whether you're a volunteer ready to contribute, a
          nonprofit seeking partnership, or a donor looking to make a
          difference, there's a place for you at ASCENDynamics. Join us in
          creating a cooperative future where everyone can thrive.
        </p>
      </ion-card-content>
    </ion-card>
    <!-- Image element - set the background image for the header in the line below-->
    <ion-img
      class="content-image"
      style="
        margin-bottom: 1rem;
        max-height: 300px;
        object-fit: cover;
        object-position: 50% 50%;
        overflow: hidden;
        display: block;
        margin-left: auto;
        margin-right: auto;
      "
      src="assets/image/pexels-fauxels-3182826.jpg"
    ></ion-img>
  </ion-grid>
  <app-info-footer></app-info-footer>
</ion-content>
