<ion-header [translucent]="true">
  <app-header title="About Us"></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <app-header title="About Us"></app-header>
  </ion-header>
  <ion-grid fixed>
    <!-- Content section-->
    <ion-card class="ion-margin">
      <ion-card-header>
        <ion-card-title>Our Mission</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          ASCENDynamics is a non-for-profit organization that incubates
          worker-owned cooperatives. Our mission is to help entrepreneurs create
          successful startups by providing technical, marketing, development,
          funding, and networking resources. We believe that worker-owned
          cooperatives are an important model for economic and social justice,
          and we are committed to supporting their growth and success. We also
          share SEO and digital outreach strategies so that cooperatives can
          expand their online visibility.
        </p>
      </ion-card-content>
    </ion-card>
    <!-- Image element - set the background image for the header in the line below-->
    <ion-img
      class="content-image"
      style="
        margin-bottom: 1rem;
        max-height: 300px;
        object-fit: cover;
        object-position: 50% 50%;
        overflow: hidden;
        display: block;
        margin-left: auto;
        margin-right: auto;
      "
      src="assets/image/pexels-fauxels-3184423.jpg"
    ></ion-img>
    <!-- Content section-->
    <ion-card class="ion-margin">
      <ion-card-header>
        <ion-card-title>Our Values</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          At ASCENDynamics, we believe in the power of cooperation and
          collaboration. We value equity, inclusion, sustainability, and
          innovation, and we strive to embody these values in all that we do. We
          are committed to creating a better world, and we believe that
          worker-owned cooperatives are a critical part of that vision.
        </p>
      </ion-card-content>
    </ion-card>
    <!-- Image element - set the background image for the header in the line below-->
    <ion-img
      class="content-image"
      style="
        margin-bottom: 1rem;
        max-height: 300px;
        object-fit: cover;
        object-position: 50% 50%;
        overflow: hidden;
        display: block;
        margin-left: auto;
        margin-right: auto;
      "
      src="assets/image/pexels-fauxels-3182826.jpg"
    ></ion-img>
  </ion-grid>
  <ion-footer>
    <div class="footer">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="4" class="footer-logo">
            <img
              src="assets/image/logo/ASCENDynamics NFP-logos_transparent.png"
              alt="ASCENDynamics Logo"
            />
          </ion-col>
          <ion-col size="12" size-md="4" class="footer-nav">
            <h3>Quick Links</h3>
            <ul>
              <li>
                <a (click)="openLegalModal('privacyPolicy')">Privacy Policy</a>
              </li>
              <li>
                <a (click)="openLegalModal('termsOfUse')">Terms of Service</a>
              </li>
            </ul>
          </ion-col>
          <ion-col size="12" size-md="4" class="footer-social">
            <h3>Follow Us</h3>
            <ion-buttons class="social-buttons">
              <ion-button
                href="https://github.com/ASCENDynamics-NFP"
                target="_blank"
                ><ion-icon slot="icon-only" name="logo-github"></ion-icon
              ></ion-button>
              <ion-button
                href="https://www.facebook.com/ASCENDynamicsNFP"
                target="_blank"
                ><ion-icon slot="icon-only" name="logo-facebook"></ion-icon
              ></ion-button>
              <ion-button
                href="https://www.linkedin.com/company/ascendynamics-nfp"
                target="_blank"
                ><ion-icon slot="icon-only" name="logo-linkedin"></ion-icon
              ></ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="footer-bottom">
        <p>&copy; {{ currentYear }} ASCENDynamics NFP. All rights reserved.</p>
      </div>
    </div>
  </ion-footer>
</ion-content>
