<ion-card>
  <ion-card-header>
    <ion-card-title>Contact information</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div>
            <h2>Phone</h2>
            <p>{{ getPhoneNumber() }}</p>
          </div>
          <div>
            <h2>Email address</h2>
            <p>{{ account?.email }}</p>
          </div>
          <div>
            <h2>Mailing address</h2>
            <p>{{ account?.contactInformation?.mailingAddress ?? '-' }}</p>
          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <h2>Preferred Method of Contact</h2>
            <p>{{ account?.contactInformation?.preferredMethodOfContact ?? '-' }}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
