<ion-split-pane contentId="main-content">
  <ion-menu side="start" menuId="user" contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title translate>menu.title</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="signOut()">
            <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list id="inbox-list">
        <ion-note>Info</ion-note>

        <ion-menu-toggle auto-hide="false">
          <ion-list-header>
            <ion-label>User</ion-label>
          </ion-list-header>
          <ion-item
            routerDirection="root"
            *ngFor="let p of userPages.user; let i = index"
            [routerLink]="[p.url]"
            lines="none"
            detail="false"
            routerLinkActive="selected"
          >
            <ion-icon
              aria-hidden="true"
              slot="start"
              [ios]="p.icon + '-outline'"
              [md]="p.icon + '-sharp'"
            ></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
          <ion-list-header>
            <ion-label>Group</ion-label>
          </ion-list-header>
          <ion-item
            routerDirection="root"
            *ngFor="let p of userPages.group; let i = index"
            [routerLink]="[p.url]"
            lines="none"
            detail="false"
            routerLinkActive="selected"
          >
            <ion-icon
              aria-hidden="true"
              slot="start"
              [ios]="p.icon + '-outline'"
              [md]="p.icon + '-sharp'"
            ></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list id="labels-list">
        <ion-list-header>Labels</ion-list-header>

        <ion-item *ngFor="let label of labels" lines="none">
          <ion-icon
            aria-hidden="true"
            slot="start"
            ios="bookmark-outline"
            md="bookmark-sharp"
          ></ion-icon>
          <ion-label>{{ label }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-menu side="start" menuId="guest" contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title translate>menu.title</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list id="inbox-list">
        <ion-menu-toggle auto-hide="false">
          <ion-list-header>
            <ion-label>User</ion-label>
          </ion-list-header>
          <ion-item
            routerDirection="root"
            *ngFor="let p of guestPages.user; let i = index"
            [routerLink]="[p.url]"
            lines="none"
            detail="false"
            routerLinkActive="selected"
          >
            <ion-icon
              aria-hidden="true"
              slot="start"
              [ios]="p.icon + '-outline'"
              [md]="p.icon + '-sharp'"
            ></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
          <ion-list-header>
            <ion-label>Group</ion-label>
          </ion-list-header>
          <ion-item
            routerDirection="root"
            *ngFor="let p of guestPages.group; let i = index"
            [routerLink]="[p.url]"
            lines="none"
            detail="false"
            routerLinkActive="selected"
          >
            <ion-icon
              aria-hidden="true"
              slot="start"
              [ios]="p.icon + '-outline'"
              [md]="p.icon + '-sharp'"
            ></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <!-- <ion-list id="labels-list">
        <ion-list-header>Labels</ion-list-header>

        <ion-item *ngFor="let label of labels" lines="none">
          <ion-icon
            aria-hidden="true"
            slot="start"
            ios="bookmark-outline"
            md="bookmark-sharp"
          ></ion-icon>
          <ion-label>{{ label }}</ion-label>
        </ion-item>
      </ion-list> -->
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
