<ion-header>
  <ion-toolbar>
    <ion-title>Upload Image</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid style="height: 100%">
    <ion-row class="ion-align-items-center" style="flex: 1">
      <ion-col size="12" class="ion-text-center">
        <ion-item>
          <ion-label>Select Image</ion-label>
          <ion-input type="file" (change)="onImageSelected($event)"></ion-input>
        </ion-item>
        <img
          *ngIf="imagePreview"
          [src]="imagePreviewString"
          alt="Image Preview"
          style="max-width: 100%; max-height: 70vh"
        />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="uploadImage()">Upload</ion-button>
</ion-footer>
