<ion-header>
  <ion-toolbar>
    <ion-title>Timesheet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-between ion-padding">
      <ion-col size="auto">
        <ion-button fill="clear" (click)="previousWeek()">Prev</ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button fill="clear" (click)="nextWeek()">Next</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-week-view
    [accountId]="accountId"
    [userId]="userId"
    [weekStart]="currentWeekStart"
    [projects]="(projects$ | async) || []"
    [entries]="(entries$ | async) || []"
    [availableProjects]="(projects$ | async) || []"
    [weekStart]="currentWeekStart"
  ></app-week-view>
</ion-content>
